{%  extends "base.html" %}

{% block content %}

<style>
    #player_ranking, #player_ranking td, #player_ranking th {
        border: 1px solid gray;
        border-collapse: collapse;
    }
    #player_ranking th {
        padding: 0 5px;
    }
    #player_ranking tr {
        height: 50px;
    }
    #player_ranking tr:nth-child(even) {
        background: lightgray;
    }
    #player_ranking td {
        text-align: right;
        padding: 5px;
    }
    #player_ranking td:nth-child(1) {
        text-align: left;
    }
    #player_ranking td:nth-child(3) {
        text-align: center;
    }
</style>

<table id="player_ranking">
    <colgroup>
        <col style="width:130px">
        <col style="width:50px">
        <col style="width:40px">
        <col style="width:60px">
{% for _ in month_headers %}
        <col style="width:50px">
{% endfor %}
    </colgroup>
    <tr>
{% for header in headers: %}
        <th>{{ header }}</th>
{% endfor %}
{% for file, header in month_headers or []: %}
        <th>
    {% if file: %}
            <a href="{{ file }}">{{ header }}</a>
    {% else: %}
            {{ header }}
    {% endif %}
        </th>
{% endfor %}
    </tr>
{% for row in rows: %}
    <tr>
    {% for cell in row: %}
        <td>{{ cell }}</td>
    {% endfor %}
    </tr>
{% endfor %}
</table>

{% endblock %}
